@using EPiServer.Web.Mvc.Html
@using PreciseAlloy.Utils.Extensions
@model PreciseAlloy.Web.Features.Components.HeroBlock.HeroBlockViewModel

<section class="zzz-o-hero">
    <div class="zzz-container">
        <div class="zzz-o-hero__inner">
            <div class="zzz-o-hero__content">
                <div class="zzz-o-hero__label">@Model.CurrentBlock.SubHeading</div>
                <div class="zzz-m-section-header">
                    <h1 class="zzz-m-section-header__heading">@Model.CurrentBlock.Heading</h1>
                </div>
                <div class="zzz-o-hero__description">
                    @Html.PropertyFor(m => m.CurrentBlock.Text)
                </div>
                <div class="zzz-o-hero__button">

                    <a href="@Model.CurrentBlock.CtaUrl"
                       class="zzz-a-button zzz-a-button--btn"
                       target="_blank">@Model.CurrentBlock.CtaText</a>
                </div>
            </div>
            <div class="zzz-o-hero__image">
                <picture class="zzz-a-picture">
                    <img src="@Model.CurrentBlock.Image?.GetUrl()"
                         alt="hero"
                         width="590"
                         height="347">
                </picture>
            </div>
        </div>
    </div>
</section>

@{
    Html.RequireStyle("/assets/css/b-hero.css").AtFooter();
}