@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Shell.Navigation
<!DOCTYPE html>
<html lang="@ContentLanguage.PreferredCulture.TwoLetterISOLanguageName">

@* ReSharper disable once MissingTitleTag *@
<head>
    @await Component.InvokeAsync("MetaData")
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="@Html.GetCacheBusterPath("/assets/css/style-base.css")">

    <script src="@Html.GetCacheBusterPath("/assets/js/main.js")"></script>
    @Html.RequiredClientResources("Header")

    <script type="module" src="@Html.GetWidgetAssetPath("react-loader")"></script>
    <link rel="modulepreload" href="@Html.GetWidgetAssetPath("vendor")">

    <!-- Shell -->
    @ClientResources.RenderResources("ShellCore")

    <!-- LightTheme -->
    @ClientResources.RenderResources("ShellCoreLightTheme")
</head>

<body>
    @Html.CreatePlatformNavigationMenu()
    <main @Html.ApplyPlatformNavigation()>
        @RenderBody()
    </main>
</body>

</html>