@using EPiServer.Framework.Web.Mvc.Html
@model PreciseAlloy.Models.Interfaces.IPageViewModel
<!DOCTYPE html>
<html lang="@ContentLanguage.PreferredCulture.TwoLetterISOLanguageName" class="page-@Model.ClassName">

@* ReSharper disable once MissingTitleTag *@
<head>
    @await Component.InvokeAsync("MetaData")
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="@Html.GetCacheBusterPath("/assets/css/style-base.css")">

    <script src="@Html.GetCacheBusterPath("/assets/js/main.js")"></script>
    @Html.RequiredClientResources("Header")

    <script type="module" src="@Html.GetWidgetAssetPath("react-loader")"></script>
    <link rel="modulepreload" href="@Html.GetWidgetAssetPath("vendor")">
</head>

<body class="page-@Model.ClassName">
@RenderBody()
@Html.RequiredClientResources("Footer")
@await Html.RenderEPiServerQuickNavigatorAsync()
</body>

</html>