@using EPiServer.Framework.Web.Mvc.Html
@using PreciseAlloy.Web.Generated
@model PreciseAlloy.Models.Interfaces.IPageViewModel
<!DOCTYPE html>
<html lang="@ContentLanguage.PreferredCulture.TwoLetterISOLanguageName" class="page-@Model.ClassName">

@* ReSharper disable once MissingTitleTag *@
<head>
    @await Component.InvokeAsync("MetaData")
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="@AssetPaths.StyleBaseCss">

    <script src="@AssetPaths.MainJs"></script>
    @Html.RequiredClientResources("Header")

    <script type="module" src="@AssetPaths.WidgetReactLoaderJs"></script>
</head>

<body class="page-@Model.ClassName">
@RenderBody()
@Html.RequiredClientResources("Footer")
@await Html.RenderEPiServerQuickNavigatorAsync()
</body>

</html>