@model PreciseAlloy.Models.Blocks.Teaser.TeaserBlockViewModel

@{
    Html.RequireStyle("/assets/css/b-teaser.css").AtHeader();

    var imageClass = Model.CurrentBlock.ShowImageOnTheRight
        ? ""
        : "zzz-o-teaser--image-left";
}

<section class="zzz-o-teaser section-margin-top-xl zzz-o-teaser--image-left">
    <div class="zzz-container">
        <div class="zzz-o-teaser__inner">
            <div class="zzz-o-teaser__content">
                <div class="zzz-m-section-header">
                    <h2 class="zzz-m-section-header__heading h1">@Model.CurrentBlock.Heading</h2>
                </div>
                <div class="zzz-o-teaser__description">
                    @Html.PropertyFor(m => m.CurrentBlock.Text)
                </div>
                @if (Model.CurrentBlock.CtaButton != null)
                {
                    <div class="zzz-o-teaser__button">
                        <a href="@Url.ContentUrl(Model.CurrentBlock.CtaButton.Href)" class="zzz-a-button zzz-a-button--btn zzz-a-button--btn-black" target="@Model.CurrentBlock.CtaButton.Target">@Model.CurrentBlock.CtaButton.Text</a>
                    </div>
                }
            </div>
            @if (Model.CurrentBlock.Image != null)
            {
                <picture class="zzz-a-picture">
                    <img src="@Url.ContentUrl(Model.CurrentBlock.Image)" alt="teaser 2" loading="lazy" width="600" height="432">
                </picture>
            }
        </div>
    </div>
</section>
